main {
    background-image: url(../assets/library7.jpg);
    
}

#details {
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}


main h2 {
    text-align: center;
    margin-bottom: 20px;
}
