{% extends 'library/base.html' %}
{% load static %}
{% load crispy_forms_tags%}

{% block extra-styles %}
    <link rel="stylesheet" href="{% static 'users/styleLogin.css' %}" type="text/css">
{% endblock extra-styles %}

{% block content %}
    <main>
        <div class="class-section">
            <form method="POST">
                {% csrf_token %}
                
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4"> 
                        <h1> Resetowanie hasła </h2>
                    </legend>
                    
                    {% if messages %}
                        {% for message in messages %}
                            <div class = 'alert alert-{{ message.tags }}'>
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endif %}
                    
                    {{ form|crispy }}

                    <div class="form-group">
                        <button class="btn btn-dark" type="submit"> Resetuj hasło </button>
                    </div>
                </fieldset>
            </form>
        </div>
    </main>
{% endblock content %}