{% extends 'library/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block extra-styles %}
    <link rel="stylesheet" href="{% static 'users/styleLogin.css' %}" type="text/css">
{% endblock extra-styles %}

{% block content %}
    <main>
        <form method="POST">
            <div class= "class-section">
                {% csrf_token %}
                <h2> Resetowanie hasła </h2>
                <div class="border border-left-0 border-right-0 pt-3">

                    <div class='container-fluid'>
                        {{ form|crispy }}

                        <div class="form-group">
                            <button class="btn btn-warning" type="submit"> Resetuj hasło </button>
                            <a class="btn btn-secondary" href="{% url 'profile-orders-list' %}"> Anuluj </a>
                        </div>
                    </div>
                    
                </div>
            </div>
        </form>
    </main>
{% endblock content %}